

.topnav{
    background-color: #292c2f;
    height: 7vh;
    align-items: center;
    overflow: hidden;
 
    .logo{
        float: right;
        height: 5vh;
        margin-right: 1%;
        
        
    }
    .custom-select{
      float: right;
      margin: 15px;
      


    }
    a{
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
      }

      a.active {
        background-color: #04AA6D;
        color: white;
      }  
}