

.footer_container{
  width: 100%;
  position: relative;
  
 
  
  img{
    width: 100%;
  }
}


.footer-right{
  position: absolute;
  right: 1%;
  bottom: 0;  
  padding: 5px;
   
  
  a{
    
    color: white;
  }
}

.footer-left{
  position: absolute;
  left: 1%;
  bottom: 0;
  color: white;
  font-size: small;
  text-align: start;
  

  img{
    
    height: 3rem;
    width: 8rem;
  }
}

@media (max-width: 800px) {
  
  .footer-left{
    font-size:xx-small;
    
    .copyright_text{
      bottom: 0;
      left: 0;
     
    }
  }

  .footer-right{
    font-size: xx-small;
    .icon{
      height: 1rem;
    }
  }

}