

.footer_container{
  width: 100%;
  position: relative;
  
 
  
  img{
    width: 100%;
  }
}


.footer-right{
  position: absolute;
  right: 1%;
  bottom: 0;  
  padding: 5px;
   
  
  a{
    
    color: white;
  }
}

.footer-left{
  position: absolute;
  left: 1%;
  bottom: 0;
  color: white;
  font-size: small;
  text-align: start;
  

  img{
    
    height: 3rem;
    width: 8rem;
  }
}

@media (max-width: 800px) {
  .footer-left{
    position: absolute;
    left: 1%;
    bottom: 0;
    color: white;
    text-align: start;
    font-size:x-small;
    img{
      height: 1rem;
      width: 3rem;
    }
  }

}